<img src="./assets/Tacos.jpg" class="img-fluid" alt="...">

<br class="m-5"> 

<br class="m-5"> 
<h4>TacoSpeciales</h4>
<div id="carouselExampleControls0" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
         <div class="card-group">

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f56c5a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tNavidad.jpeg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Taco Rosca de Reyes</h5>
                        <p class="card-text">Contiene:</p>
                        <ul>
                        <li class="card-text">18 tacos (Suadero, Pastor, Longaniza) </li>
                        <li class="card-text">Salsa roja o verde </li>
                        <li class="card-text">Sebolla y cilantro </li>
                        <li class="card-text">4 muñiquetos niño dios </li>
                        </ul>
                        <p class="card-text">$ 300.00 </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f56c5a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tpinaloca.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Piña loca</h5>
                        <p class="card-text">Contiene:</p>
                        <ul>
                        <li class="card-text">12 tacos al Pastor </li>
                        <li class="card-text">Salsa de piña </li>
                        <li class="card-text">Sebolla y cilantro </li>
                        </ul>
                        <p class="card-text">$ 200.00 </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f56c5a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tcumple.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Taco Cumpleaños</h5>
                        <p class="card-text">!Tacos que forman el numero que cumples años! </p>
                        <p class="card-text">Contiene:</p>
                        <ul>
                        <li class="card-text">30 tacos (Suadero, Pastor o Longaniza) </li>
                        <li class="card-text">Salsa roja o verde </li>
                        <li class="card-text">Sebolla y cilantro </li>
                        <li class="card-text">Sebolla, cilantro y limones </li>
                        </ul>
                        <p class="card-text">$ 500.00 </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

         </div>
        </div>

        <div class="carousel-item">

                <div class="card-group">
       
                    <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f56c5a3a;">    
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/tlove.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                            <h5 class="card-title">Taco Lover</h5>
                            <p class="card-text">!Tacos que forman un corazon! </p>
                            <p class="card-text">Contiene:</p>
                            <ul>
                            <li class="card-text">30 tacos (Suadero, Pastor o Longaniza) </li>
                            <li class="card-text">Salsa roja o verde </li>
                            <li class="card-text">Sebolla y cilantro </li>
                            <li class="card-text">Sebolla, cilantro y limones </li>
                            </ul>
                            <p class="card-text">$ 500.00 </p>
                            <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>

        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls0" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls0" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<h4>Tacos Clasicos</h4>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner"> 
        <div class="carousel-item active">
            
         <div class="card-group">

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/talpastor.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos al Pastor</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 14.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tsuadero.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos de Suadero</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 14.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tlonganiza.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos de Longaniza</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 14.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

         </div>
        </div>

        <div class="carousel-item">

                <div class="card-group">
       
                    <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/tcabeza.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                                <h5 class="card-title">Tacos de Cabeza</h5>
                                <p class="card-text"></p>
                                <p class="card-text">$ 14.00 c/u </p>
                                <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
                   
                   <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/tlengua.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                            <h5 class="card-title">Tacos de Lengua</h5>
                            <p class="card-text"></p>
                            <p class="card-text">$ 14.00 c/u </p>
                            <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
       
                   <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #ffef9228;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/ttrompa.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                            <h5 class="card-title">Tacos de Trompa</h5>
                            <p class="card-text"></p>
                            <p class="card-text">$ 14.00 c/u </p>
                            <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>


<br class="m-5"> 
<h4>Tacos Sabrosos</h4>
<div id="carouselExampleControls2" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
         <div class="card-group">

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tcecina.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos de Cacina</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 16.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>
            
            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tbisteces.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos de Bistec</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 15.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

            <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="./assets/tchuleta.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Tacos de Chuleta</h5>
                        <p class="card-text"></p>
                        <p class="card-text">$ 16.00 c/u </p>
                        <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                    </div>
                    </div>
                </div>
            </div>

         </div>
        </div>

        <div class="carousel-item">

                <div class="card-group">
       
                    <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/tmaciza.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                                <h5 class="card-title">Tacos de Maciza</h5>
                                <p class="card-text"></p>
                                <p class="card-text">$ 17.00 c/u </p>
                                <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
                   
                   <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/tspenser.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                            <h5 class="card-title">Tacos de Espageti Spenser</h5>
                            <p class="card-text"></p>
                            <p class="card-text">$ 15.00 c/u </p>
                            <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
       
                   <div class="card border-warning mb-3" style="max-width: 540px;" style="background-color: #f5a55a3a;">
                       <div class="row g-0">
                           <div class="col-md-4">
                               <img src="./assets/ttripa.jpg" class="img-fluid rounded-start" alt="...">
                           </div>
                           <div class="col-md-8">
                           <div class="card-body">
                                <h5 class="card-title">Tacos de Tripa</h5>
                                <p class="card-text"></p>
                                <p class="card-text">$ 14.00 c/u </p>
                                <p><button type="button" class="btn btn-warning">Agregar al carrito</button></p>
                           </div>
                           </div>
                       </div>
                   </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>





