div#menu{
  margin: auto;
  height: 80px;
  background-color: #721d15;
}
h1#title{
  margin: auto;
  font-family: fantasy;
  text-align: center;
}
div#promociones{
  margin: auto;
  margin-top: 30px;
  float: left;
}
div#masp{
  margin: auto;
  margin-top: 30px;
  float: left;
}
div#prom{
  margin: auto;
  margin-top: 30px;
}
div#cards1{
  margin: auto;
  margin-top: 20px;
}
div#cards2{
  margin: auto;
  margin-top: 20px;
}
h1#title2{
  font-family: "Bell MT";
}
h1#title3{
  font-family: "Bell MT";
}
p{
  font-weight: bold;
}
h5{
  font-weight: 900;
}
div#promocion1{
  margin: auto;
  float: left;
  margin-top: 30px;
  margin-left: 20px;

}
div#promocion2{
  margin: auto;
  float: left;
  margin-top: 30px;
  margin-left: 20px;
}
h1#title2:hover{
  background-color: #dd771d;
  color: black;
}
h1#title3:hover{
  background-color: #dd771d;
  color: black;
}
.texto{
  font-size: 20px;
}
.td{
  font-size: 60px;
}
div#central{
  justify-content: center;
}
