
<div class="mesas mx-4">
<br>
<h1>¡Escoje tu lugar!</h1>
<br>
</div>

<div class="dropdown mx-4">
<br>
<h5>Selecciona la socursal</h5>
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #b30707d5;">
      Seleccione . . .
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">MyTaco Oaxaca</a></li>
      <li><a class="dropdown-item" href="#">MyTaco Neza</a></li>
      <li><a class="dropdown-item" href="#">MyTaco TESE</a></li>
    </ul>
  </div>


<div style="width: 1000px; float: right;" >
    <h5>Confirmar fecha</h5>
</div>

<div style="width: 1000px; float: right;" >
  <h5>Confirmar hora</h5>
</div>

<div class="mx-4">
<br>
<h5>Selecciona tu mesa </h5>


  <button id="bm" type="button" class="btn btn-outline-secondary" style="width: 90px;">
    
    <br> Mesa 1 
  </button>
 
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;">  <br>Mesa 2 </button>
  <button type="button" class="btn btn-outline-secondary"  style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 3 </button>
  <button type="button" class="btn btn-outline-secondary"  style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 4 </button> 
</div>

<div class="mx-4">
  <br>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 5 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 6 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 7 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 8 </button> 
</div>

<div class="mx-4">
  <br>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 9 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 10 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 11 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 12 </button> 
</div>

<div class="mx-4">
  <br>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 13 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 14 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 15 </button>
  <button type="button" class="btn btn-outline-secondary" style="width: 90px;"> <img src="./assets/tabla.png" height="50"> <br>Mesa 16 </button> 
</div>


  
<br>
  <button type="button" class="btn btn-info">Confirmar</button>

<script src="./assets/botonmesa.js"></script>