<div id="general">
    <div id="menu">
  
    </div>
    <div id="uno">
      <div id="dos">
        <form>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Seleccione su taco</label>
            <select id="inputState" class="form-select">
              <option selected>Seleccionar</option>
              <option>Taco de Suadero</option>
              <option>Taco de Alpastor</option>
              <option>Taco de Bistec/option>
              <option>Taco de Longaniza</option>
              <option>Taco Campechano</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputState" class="form-label">Seleccione la cantidad</label>
            <select id="inputState1" class="form-select">
              <option selected>Seleccionar</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div id="ingred">
          <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Seleccione los ingredientes</legend>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                <label class="form-check-label" for="gridRadios1">
                  Cilantro
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                <label class="form-check-label" for="gridRadios2">
                  Cebolla
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option2">
                <label class="form-check-label" for="gridRadios3">
                  Salsa verde
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option2">
                <label class="form-check-label" for="gridRadios4">
                  Salsa roja
                </label>
              </div>
            </div>
          </fieldset>
          </div>
        </form>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Instrucciones extras para su pedido</label>
        </div>
        <div id="boton">
          <button type="submit" class="btn btn-primary">Agregar a la orden</button>
        </div>
      </div>
      <div id="detalleorden">
        <div>
          <label id="detalleor">Detalle de orden</label>
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 100px"></textarea>
          <label for="floatingTextarea3"></label>
        </div>
        <div id="botonconfirmarorden">
          <button type="submit" class="btn btn-primary">Confirmar orden</button>
        </div>
      </div>
    </div>
  
  </div>
